{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container d-flex flex-wrap ">
            <div class="">
                <h1 class="m-5"> Toutes les Perks </h1>
            </div>
            <div class="d-flex flex-wrap col-12 align-items-center justify-content-center">
                {% for perk in perks %}
                    <a class="text-decoration-none" href="{{ path('perk_show', { id: perk.id }) }}" >
                        <div class=" d-flex flex-column justify-content-center align-items-center">
                                <img src="{{ asset('image/perk/' ~ perk.image) }}" alt="test" class="col-6">
                                <h4 class="col-6 text-center">{{ perk.name }}</h4>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

{% endblock %}
