<nav class="py-2 bg-dark border-bottom">
    <div class="container d-flex flex-wrap">
        <div class="dropdown">
        {% if app.user %}
            <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                DBD Build
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdmin">
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="dropdown-item" href="{{ path('admin') }}">Dashboard</a></li>
                {% endif %}
                
                <li><a class="dropdown-item" href="{{ path('app_profile') }}">Profile</a></li>
                
            </ul>
            {% endif %}
        </div>
        <div class="dropdown">
            <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                View
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminAdd">
                <li><a class="dropdown-item" href="#">Build</a></li>
                <li><a class="dropdown-item" href="#">Killer</a></li>
            </ul>
        </div>
        {% if app.user %}
        <div class="dropdown">
            <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ajouter
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminAdd">
                <li><a class="dropdown-item" href="#">Create Build</a></li>
                <li><a class="dropdown-item" href="#">Create Killer</a></li>
                <li><a class="dropdown-item" href="#">Create Page</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>