{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
 
{% block body %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

<div class="container-fluid">
    <div class="container">
        <h1 class="m-5"> Tous les Killers </h1>
    </div>

    {% for killer in killers %}

    <div class="container">

        <a class="text-decoration-none" href="{{ path('killer_show', { id: killer.id }) }}" ><h1>{{ killer.name }}</h1></a>

    </div>

</div>

{% endfor %}

{% endblock %}