<div class="p-4 mb-3 rounded">
    <h4>Killer</h4>  
    <ol class="list-unstyled mb-0">
        {% for killer in killers %}
        <li>
            <a class="text-decoration-none" href="{{ path('killer_show', { id: killer.id }) }}" >{{ killer.name }}</a>
        </li>
        {% endfor %}
    </ol>
</div>